.header-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -180px;
  transition: 1s;
  background-color: #fff;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

/*--*/

/* .brand {
  transition: top 1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-0 {
  top: 0;
  position: relative;
}

.top-100 {
  position: relative;
  top: -200%;
} */

/*--*/

.header-logo img {
  height: 3rem;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav a {
  color: black;
  font-weight: 500;
  transition: var(--transition);
  letter-spacing: 1px;
}

nav a:hover {
  color: var(--bgs);
}

.active-link {
  color: var(--bg);
}

nav button {
  padding: 1rem 2rem;
  letter-spacing: 1px;
  border-radius: 0.2rem;
  color: white;
  background-color: var(--bg);
}

.admin-btn {
  background-color: #06283d;
}
