.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.header-logo img {
  height: 3rem;
}

nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

nav a {
  color: black;
  font-weight: 500;
  transition: var(--transition);
  letter-spacing: 1px;
}

nav a:hover {
  color: var(--bgs);
}

.active-link {
  color: var(--bg);
}

nav button {
  padding: 1rem 2rem;
  letter-spacing: 1px;
  border-radius: 0.2rem;
  color: white;
  background-color: var(--bg);
}

.admin-btn {
  background-color: #06283d;
}
